#button {
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 100px;
    position: relative;
    left: 20px;
    color: white;
    background: #222222 0% 0% no-repeat padding-box;
}

#button > svg {
    width: 10px;
    height: 16px;
}

.buttonBolt {
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 100px;
    position: relative;
    background: #C24868 0% 0% no-repeat padding-box !important;
    border: 2px solid #F8F8F2;
}

.buttonIconFavorite {
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 100px;
    position: relative;
    left: 20px;
    color: white;
    background: #222222 0% 0% no-repeat padding-box;
  }

  @media (min-width: 1025px) {
    #button {
    bottom: 10px;
    align-self: center;
    left: -25px;
    }
  }
