@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.title {
    text-align: left;
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #222222;
}

.heading {
    text-align: left;
    font: normal normal bold 16px/19px Karla;
    letter-spacing: 0px;
    color: #222222;
}

.issue,
.published,
.creators {
    text-align: left;
    font: normal normal normal 16px/19px Karla;
    letter-spacing: 0px;
    color: #222222;
}

.detailsContainer {
    width: 200px;
}

@media (min-width: 1025px) {
    .detailsContainer {
        width: 175px;
    }
}