.heroImage {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  min-width: 365px;
  height: auto;
}

.halftoneImage {
  position: relative;
  left: 0px;
  width:  100%;
  bottom: 65px;
}

@media (min-width: 768px) {
  .halftoneImage {
    bottom: 75px;
  }
}

@media (min-width: 1025px) {
  .halftoneImage {
    position: relative;
    bottom: 80px;
  }
}
  
  