.container {
min-width: 36rem;
display: flex;
flex-direction: column;
}
  
.header {
display: flex;
flex-direction: column;
align-items: center;
}
  
.backToHome {
margin: 3rem 0 0;
}

.comicContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}