.comicCard {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.comicImage {
    width: 125px;
    height: 188px;
}

@media (min-width: 768px) {
    .comicCard {
        flex-direction: column;
    }
}

@media (min-width: 1025px) {
    .comicCard {
        flex-direction: column;
        align-items: flex-start;
    }
}